@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  height: 100%;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FFFFFF !important;
}

.form-webhook {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background: #FFFFFF;
  color: #000000;
  background-color: rgba(0,0,0,0.25);
  border-radius: 5%;
}

.form-floating {
  margin-bottom: .7rem;
}

.form-webhook .checkbox {
  font-weight: 400;
}

.form-webhook .form-floating:focus-within {
  z-index: 2;
}

.form-webhook input[type="webhook"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-webhook input[type="username"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-webhook input[type="message"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-webhook input[type="checkbox"] {
  margin-top: 1rem;
}

.form-webhook button[type="submit"] {
  background: #5865F2;
  border-color: #5865F2;
}